.commentForm {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #152F29;
  }
  
  .textarea {
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* so the textarea cant expand to all sizes */
    font-size: 14px;
  }
  
  .submitButton {
    background-color: #89A894;
    color: #152F29;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }